body {
  background-color: black;
}

.head {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  align-items: center;
}

.logo img {
  max-width: 100px;
  filter: invert(1) brightness(100%);
}

.navigation-link {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.navi-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: white;
}

.navigation-link__socials {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.social img {
  width: 20px;
  max-width: 20px;
  filter: invert(1) brightness(100%);
}

.banner {
  display: flex;
  height: 80%;
  border: 2px solid red;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.banner-text {
  color: white;
  flex-grow: 0.5;
}

.banner-text__title {
  font-size: 5rem;
  font-weight: 700;
}

.banner-text__title-second {
  color: #ff7600;
}

.banner-text__btn {
  padding: 10px 20px;
  background-color: #ff7600;
  color: white;
  font-size: 0.8rem;
  transition: all 0.4s;
}

.banner-text__btn:hover {
  background-color: #ff7600;
  transform: scale(1.1);
}

.banner-text__description {
  padding: 20px 0px;
}

.banner-img img {
  max-width: 500px;
  object-fit: contain;
}

.banner-img {
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/resources/image/file\ \(2\)~1.png") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  transform: scaleY(-1);
  z-index: -1;
}
