body {
  background-color: black;
}

.head {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  align-items: center;
}

.logo img {
  max-width: 100px;
  filter: invert(1) brightness(100%);
}

.navigation-link {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.navi-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: white;
}

.navigation-link__socials {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.social img {
  width: 20px;
  max-width: 20px;
  filter: invert(1) brightness(100%);
}

.banner {
  display: flex;
  height: 80%;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.banner-text {
  color: white;
  flex-grow: 0.5;
}

.banner-text__title {
  font-size: 5rem;
  font-weight: 700;
}

.banner-text__title-second {
  color: #ff7600;
}

.banner-text__btn {
  padding: 10px 20px;
  background-color: #ff7600;
  color: white;
  font-size: 0.9rem;
  transition: all 0.4s;
}

.banner-text__btn:hover {
  background-color: #ff7600;
  transform: scale(1.1);
}

.banner-text__description {
  padding: 20px 0px;
}

.banner-img img {
  max-width: 450px;
  object-fit: contain;
}

.banner-img {
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/resources/image/bannerimg.png") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
}

.body-container {
  display: flex;
  flex-direction: column;
  padding-top: 500px;
}

.body-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.head-text {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.colored-text {
  color: #ff7600;
}

.body-top__snacks {
  padding-top: 100px;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
}
.body-top__snacks-img {
  width: 50%;
  align-self: center;
}

.body-top__snacks-img img {
  max-width: 500px;
}

.body-top__snacks-text {
  color: white;
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}

.body-top__snacks-text__container1 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
}

.body-top__snacks-text__container1::before {
  content: "";
  position: absolute;
  bottom: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/resources/image/crois~1.png") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
}

.text {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  margin-right: 10px;
  background-color: #ff7600;
  position: relative;
  display: inline-block;
}
.text .heading {
  margin-top: -8px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.text__description {
  padding-left: 32px;
}

.checkmark::before {
  /* content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff; */
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2.5px 2.5px 0;
  top: 4px;
  left: 7px;
  transform: rotate(45deg);
}

.body-bottom {
  display: flex;
  height: 100vh;
  align-items: center;
}

.body-top__snacks-two {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: 50px;
  align-self: flex-start;
}

.body-top__snacks-img-two {
  align-self: flex-start;
  margin-right: -30px;
  display: inline-block;
  position: relative;
}

/* .body-top__snacks-img-two img {
} */

.body-top__snacks-img-two::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/resources/image/file\ \(3\)~1.png") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
}

.body-top__snacks-text__container-two {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  max-width: 600px;
}

.price__card-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.price__card-heading {
  color: white;
  text-align: center;
}

.price__card-card__container {
  display: flex;
  gap: 10px;
}

.card-text {
  color: white;
}

.card {
  max-width: 400px;
  /* height: 500px; */
  padding: 60px;
  background-color: #fff;
}

.card img {
  width: 200px;
}
