body {
  background-color: black;
}

.head {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  align-items: center;
}

.logo img {
  max-width: 100px;
  filter: invert(1) brightness(100%);
}

.navigation-link {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.navi-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: white;
}

.navigation-link__socials {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.social img {
  width: 20px;
  max-width: 20px;
  filter: invert(1) brightness(100%);
}

.banner {
  display: flex;
  height: 80%;
  border: 2px solid red;
  align-items: center;
  padding: 20px;
}

.banner-text {
  color: white;
}

.banner-text__title {
  font-size: 3rem;
}
